#map {
    height: 600px;
    width: 850px;
}

.container {
    top: 20px;
}
#search-result {
    overflow: auto;
    max-height: 520px;
}
#p1 {
    color: Green;
}
.percentage {
    color: limegreen;
}
.title {
    text-align: center;
}
.subtitle {
    text-align: center;
}
.content {
    
}
body {
    background-image: url(https://img5.goodfon.com/original/1920x1080/c/13/materiki-karta-mira-mir-zemlia-kontinenty-seryi-fon.jpg?d=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}